<ol class="newsletter-signup__list newsletter-signup__list--buttons">
    <li class="newsletter-signup__list-item newsletter-signup__list-item--btn active">
        <button type="button" class="newsletter-signup__btn newsletter-signup__btn--next btn btn-block" id="subscribe-submit">Next</button>
    </li>
    <li class="newsletter-signup__list-item newsletter-signup__list-item--btn">
        <button type="submit" class="newsletter-signup__btn newsletter-signup__btn--submit btn btn-block" id="subscribe-submit">Submit</button>
    </li>
</ol>
