{% extends 'base.twig' %}

{% block header %}{% endblock %}

{% block main %}
<div class="password-form-wrapper">
    <div class="inner">
        <form class="password-form text-center" action="/wp/wp-login.php?action=postpass" method="post">
            <div>
                <p class="bold">This page is password protected, please enter the password.</p>
                <label for="pwbox-{{post.ID}}" class="sr-only">Password:</label>
                <input class="password-box form-control" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
            </div>
            <input class="password-btn btn btn-primary" type="submit" name="Submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
