#--------------------------------------------------------
# WordPress
#--------------------------------------------------------
.env
!.env.*
.history
db-sync
mix-manifest.json
www/.htaccess
www/app/advanced-cache.php
www/app/cache
www/app/backup-db
www/app/backups
www/app/themes/twenty*
www/app/upgrade
www/app/uploads/*
!www/app/uploads/.gitkeep
!www/app/uploads/.htaccess
!www/app/uploads/iconbox
!www/app/uploads/fbrfg
www/app/wp-cache-config.php
www/app/wp-rocket-config
www/wp

#--------------------------------------------------------
# WordPress Plugins
#--------------------------------------------------------
# Ignore plugins installed through composer
www/app/mu-plugins/*/
www/app/plugins/*/
!www/app/plugins/gravityforms
!www/app/plugins/gravityformscli
!www/app/plugins/gravityformssendgrid
!www/app/plugins/gravity-forms-acf-field
!www/app/plugins/gravityformsrecaptcha
!www/app/plugins/gravityformswebhooks
!www/app/plugins/ithemes-security-pro
!www/app/plugins/juicy
!www/app/plugins/sendgrid-email-delivery-simplified
!www/app/plugins/wp-rocket
www/app/plugins/wp-rocket/cache.json
!www/app/plugins/.gitkeep
www/release.json

#--------------------------------------------------------
# Packages: Bower, Composer, NPM
#--------------------------------------------------------
/bower_components
/node_modules
/vendor
/auth.json

#--------------------------------------------------------
# Junk, development and other hidden files
#--------------------------------------------------------
*.7z
*.bz2
*.cab
*.com
*.class
*.dmg
*.dll
*.exe
*.gz
*.iso
*.jar
*.lnk
*.log
*.map
*.msi
*.msm
*.msp
*.o
*.rar
*.stTheme.cache
*.sql
*.sqlite
*.so
*.sublime-workspace
*.tar
*.tgz
*.tmlanguage.cache
*.tmPreferences.cache
*.zip
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.codekit-cache
.DS_Store
.DS_Store?
.fseventsd
.htpasswd
.LSOverride
.sass-cache
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
$RECYCLE.BIN/
ehthumbs.db
Desktop.ini
Network Trash Folder
sitemap.xml
sitemap.xml.gz
sftp-config.json
Temporary Items
Thumbs.db
