// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    background-color: darken($brand-primary, 10%);
    color: $white;

    a {
        color: inherit;
    }

    &__menu-wrapper {
        @include mq($until: sm) {
            order: -1;
        }
    }

    &__menu {
        padding: 0 0 10px 0;
        margin: 0;
        list-style: none;

        @include mq(sm) {
            padding: 0;
        }

        &__li {
            display: block;

            @include mq(sm) {
                display: inline-block;
            }
        }

        &__link {
            display: block;
            padding: 10px 0 0;

            @include mq(sm) {
                padding: 0 20px;
            }

            @include on-event() {
                text-decoration: underline;
            }
        }
    }
}

.footer-base {
    background: $brand-primary;
    color: $white;

    a {
        color: inherit;
    }

    &__contact-link {
        @include mq($until: sm) {
            margin-bottom: 20px;
        }
    }

    &__social_links {
        margin-top: 10px;

        @include mq(sm) {
            margin-top: 0;
            text-align: right;
        }
    }

    &__social_link {
        padding: 8px;

        i {
            font-size: 14px;
            padding: 8px;
            border-radius: 50%;
            background-color: $white;
            color: $brand-primary;
        }
    }
}

.footer {
    background-color: $purple;

    &.global {
        .container {
            &:last-child {
                padding: 64px 0px;
            }
        }
    }

    &-wrap {
        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: 238px;
        margin: 64px 0px;
    }

    &-section {
        // second child
        &:first-child {
            width: 20%;
        }
        &:nth-child(2) {
            width: 50%;
        }
        &:last-child {
            width: 15%;
        }
        .nav {
            display: flex;
            justify-content: space-between;
            width: 100%;

            li {
                position: relative;

                &.menu-item-has-children {
                    color: $hover;
                    a {
                        padding: unset;
                        span {
                            font-family: $kanit;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }

                .nav__submenu {
                    position: absolute;
                    opacity: 1;
                    z-index: 2;
                    pointer-events: auto;

                    background: transparent;
                    padding: unset;
                    overflow: hidden;

                    margin-top: 24px;
                    gap: 24px;
                    display: flex;
                    flex-direction: column;

                    li {
                        a {
                            span {
                                font-family: 'roboto';
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 16px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }

        &-social {
            &-title {
                font-family: $kanit;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: $hover;
            }

            &:nth-child(2) {
                margin-top: 48px;
                margin-bottom: 24px;
            }

            &.social {
                display: flex;
                gap: 16px;
                a {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    background: white;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
        }
    }

    &-legal {
        display: flex;
        gap: 32px;

        .nav {
            display: flex;
            gap: 32px;
        }

        &-item {
            &:last-child {
                margin-left: 10%;
            }
        }
    }
}
