.loader {
    position: fixed;
    background: $white;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;

    body.admin-bar & {
        top: $header-height + 32px;
    }

    &__inner {
        background: url('../../img/loader.svg') no-repeat center;
        animation: loader-rotate 4s linear infinite;
        width: 100%;
        height: 100%;
    }
}
